{:paths ["src"]
 :deps {tensegritics/clojuredart
        {:git/url "https://github.com/tensegritics/ClojureDart.git"
         :sha "4871523ecf30364faec4a54a7543f5299ad08534"}
        net.clojars.htihospitality/re-dash {:mvn/version "1.0.0"}}
 :aliases {:cljd {:main-opts ["-m" "cljd.build"]}}
 :cljd/opts {:kind :flutter
             :main hti.re-dash-inspector.main}}
